<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="7142003137-m0qds4ukao168265tm0iae3fjpl1f4er.apps.googleusercontent.com">
    <link rel="stylesheet" href="stylesheets/login.css">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="icon" href="/images/favicon.ico">
</head>

<body>
    <form>
        <section class="login">
            <img id="homeImage" src="images/logo.svg" alt="Inside a Fridge">
            <div class="alert-success" id="success">User Logged in!</div>
            <div class="alert-danger" id="danger">Oops! something went wrong... Please contact support</div>
            <section class="login-card">
                <h1>Login</h1>
                <p>We'll be honest with you... Your data is important to us! That is why we have left the sign up
                    process to the professionals.</p>
                <button type="button" id="googleBtn" class="g-signin2" data-onsuccess="onSignIn"></button>
                <br/>
                <a id="redirect" href="/">Back to recipes</a>
            </section>
        </section>
    </form>
</body>

<script type="text/javascript" src="javascripts/google.js"></script>

</html>